html {
  box-sizing: border-box;
}

*, *:before, *:after {
  font-family: Arial, Helvetica, sans-serif;
}

.heading {
  background-color: pink;
  text-align: center;
}

#homepage-list {
  background-color: white;
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
}

#homepage-list li {
  background-color: lightpink;
  text-align: center;
  margin: 10px auto;
}

#homepage-list li a {
  font-size: 22px;
}

#description {
  background-color: lightsalmon;
}

p {
  color: grey;
  font-size: 20px;
}

ul {
  background-color: lightskyblue;
}

ol {
  background-color: lightgreen;
}
