* {
  font-family: Arial, Helvetica, sans-serif;
}

.heading {
  background-color: pink;
  text-align: center;
}

#homepage-list {
  background-color: lightpink;
}

#homepage-list li {
  text-align: center;
}

#homepage-list li a {
  font-size: 22px;
}

#description {
  background-color: lightsalmon;
}

p {
  color: grey;
  font-size: 20px;
}

ul {
  background-color: lightskyblue;
}

ol {
  background-color: lightgreen;
}
